table {
  width: 100%;
}

.example-header-image{
  height: 150px;
  width: 150px;
  border-radius: 30px;
  margin-left: 65px;

}

a{
text-decoration: none;
font-size: 18px;
color: black;
text-align: center;
}

.example-header-image-1{
  height: 150px;
  width: 150px;
  border-radius: 30px;
}

.container-1{
  height: 150px;
  width: 150px;
  border-radius: 30px;
  margin-left: 350px;
  padding: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  color: blue;
}
